replicaCount: 1

image:
  name: ""
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: regcred

command: []
args: []

env: []

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

containerPort: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

ingress:
  enabled: true
  host: ""
  className: ""
  annotations:
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []

persistence:
  enabled: false
  size: 1Gi
  accessMode: ReadWriteOnce
  storageClassName: ""
  existingClaim: ""
  mountPath: /data
