<li class="hn-comment">
    <div class="hn-comment-meta">
        {% if comment.author.profile.is_vip %}
            <a class="hn-comment-author hn-user--vip" href="{% url 'profile_detail' comment.author.username %}">{{ comment.author.username }}</a>
        {% else %}
            <a class="hn-comment-author" href="{% url 'profile_detail' comment.author.username %}">{{ comment.author.username }}</a>
        {% endif %}
        <span class="hn-comment-sep">·</span>
        <span class="hn-comment-date">{{ comment.created_at|date:"M j, Y" }}</span>
        {% if comment.children %}
            <button class="hn-reply-toggle" type="button" aria-expanded="true" aria-label="Collapse replies">-</button>
        {% endif %}
    </div>
    <div class="hn-comment-body">{{ comment.body|linebreaksbr }}</div>
    {% if user.is_authenticated %}
        <div class="hn-comment-actions">
            <button class="hn-reply-button" type="button" data-comment-id="{{ comment.id }}" data-comment-author="{{ comment.author.username }}">Reply</button>
            {% if user == comment.author or user.is_superuser %}
                <a class="hn-comment-edit" href="{% url 'comment_edit' comment.pk %}?next={{ request.get_full_path|urlencode }}">Edit</a>
            {% endif %}
        </div>
    {% endif %}
    {% if comment.children %}
        <ul class="hn-comment-children" data-collapsible="true">
            {% for child in comment.children %}
                {% include "questions/_comment.html" with comment=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
