{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "web-app.fullname" . }}
  labels:
    {{- include "web-app.labels" . | nindent 4 }}
  {{- $annotations := .Values.ingress.annotations | default dict }}
  {{- if and .Values.ingress.host (not (hasKey $annotations "external-dns.alpha.kubernetes.io/hostname")) }}
  {{- $_ := set $annotations "external-dns.alpha.kubernetes.io/hostname" .Values.ingress.host }}
  {{- end }}
  {{- if $annotations }}
  annotations:
    {{- toYaml $annotations | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
    {{- $hosts := .Values.ingress.hosts -}}
    {{- if .Values.ingress.host -}}
    {{- $hosts = list (dict "host" .Values.ingress.host "paths" (list (dict "path" "/" "pathType" "Prefix"))) -}}
    {{- end }}
    {{- range $hosts }}
    - host: {{ required "ingress.host is required" .host }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ default "/" .path }}
            pathType: {{ default "Prefix" .pathType }}
            backend:
              service:
                name: {{ include "web-app.fullname" $ }}
                port:
                  name: http
          {{- end }}
    {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
